{{> nav}}
<section class="common-topo container">
    <h1>
        Nossos <strong>trabalhos</strong>
    </h1>
</section>
<section class="container">
    <ul class="filter-portfolio">
        <li>
            <button type="button"
                class="btn {{#if brandingActive}}{{else if webdevelopmentActive}}{{else if sistemasActive}}{{^}} active {{/if}}"
                onclick="location.href='/portfolio';">
                Tudo
            </button>
        </li>
        <li>
           <button type="button"
                class="btn {{#if brandingActive}} active {{^}} {{/if}}"
                onclick="location.href='/portfolio/branding';">
                Branding
            </button>
        </li>
        <li>
            <button type="button"
                class="btn {{#if webdevelopmentActive}} active {{^}} {{/if}}"
                onclick="location.href='/portfolio/webdevelopment';">
                Web Development
            </button>
        </li>
        <li>
            <button type="button"
                class="btn {{#if sistemasActive}} active {{^}} {{/if}}"
                onclick="location.href='/portfolio/sistemasweb';">
                Sistemas Web
            </button>
        </li>
    </ul>
    {{#if brandingActive}}
        <div class="portfolio-top">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
        <div class="portfolio">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
    {{else if webdevelopmentActive}}
        <div class="portfolio-top">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
        <div class="portfolio">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
    {{else if sistemasActive}}
        <div class="portfolio-top">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
        <div class="portfolio">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
    {{else}}
        <div class="portfolio-top">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
        <div class="portfolio">
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
            <a href="">
                <img src="https://via.placeholder.com/900x700/9797a6/ffffff" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Ipsum</p>
            </a>
        </div>
    {{/if}}
</section>
{{> footer}}